<script setup lang="ts">
import api from '@/services/api';
import { ref, type Ref } from 'vue';
interface Datum {
  [k: string]: any;
}
type Data = Datum[];
const loading: Ref<boolean> = ref(false);
const responseData: Ref<Data | undefined> = ref(undefined);
async function postData() {
  loading.value = true;
  try {
    const res = [];
    res.push((await api.post('/countries', { name: 'IT_1' })).data);
    res.push((await api.post('/countries', { name: 'UK_2' })).data);
    res.push((await api.post('/publishers', { name: 'Publisher 1', country_id: 1 })).data);
    res.push((await api.post('/publishers', { name: 'Publisher 2', country_id: 2 })).data);
    res.push(
      (
        await api.post('/countries', {
          name: 'US_3',
          publishers: [{ name: 'Pub 3' }, { name: 'Pub 4' }]
        })
      ).data
    );
    res.push(
      (
        await api.post('/authors', {
          first_name: 'Nome 1',
          last_name: 'Cognome 1',
          registry: { address: 'Addr 1', phone: '11111' },
          books: [
            { title: 'Book 1', publisher_id: 1 },
            { title: 'Book 2', publisher_id: 2 }
          ]
        })
      ).data
    );
    res.push(
      (
        await api.post('/authors', {
          first_name: 'Nome 2',
          last_name: 'Cognome 2',
          registry: { address: 'Address 2', phone: '2222222' },
          books: [
            { title: 'Book 3', publisher_id: 3 },
            { title: 'Book 4', publisher_id: 4 }
          ]
        })
      ).data
    );
    res.push(
      (
        await api.post('/books', {
          title: 'Book 5',
          publisher: { name: 'Publisher 5', country_id: 1 },
          authors: [1, { id: 2 }, { first_name: 'Nome 3', last_name: 'Cognome 3' }]
        })
      ).data
    );
    res.push(
      (await api.post('/registries', { address: 'Address 3', phone: '333333333', author_id: 3 }))
        .data
    );
    res.push(
      (
        await api.post('/books', {
          title: 'Book 6',
          publisher: { name: 'Publisher 6', country_id: 1 },
          authors: [1, 2]
        })
      ).data
    );
    res.push(
      (
        await api.post('/publishers', {
          name: 'Publisher 7',
          books: [1, { id: 2 }, { title: 'Book 7' }],
          country: { name: 'JP_4' }
        })
      ).data
    );
    res.push(
      (
        await api.post('/registries', {
          address: 'Addr 4',
          phone: '4444444',
          author: { first_name: 'Nome 4', last_name: 'Cognome 4' }
        })
      ).data
    );
    // res.push((await api.post('/',{})).data);
    responseData.value = res;
    loading.value = false;
    return;
  } catch (error) {
    loading.value = false;
    console.error(error);
    return;
  }
}

async function getAuthors() {
  loading.value = true;
  try {
    const res = [];
    res.push({ countries: (await api.get('/countries')).data });
    res.push({ registries: (await api.get('/registries')).data });
    res.push({ publishers: (await api.get('/publishers')).data });
    res.push({ authors: (await api.get('/authors')).data });
    res.push({ books: (await api.get('/books')).data });
    responseData.value = res;
    loading.value = false;
    return;
  } catch (error) {
    loading.value = false;
    console.error(error);
    return;
  }
}
</script>

<template>
  <div id="logos">
    <a href="https://vitejs.dev" target="_blank">
      <img src="@/assets/vite.svg" class="logo" alt="Vite logo" />
    </a>
    <a href="https://vuejs.org/" target="_blank">
      <img src="@/assets/vue.svg" class="logo vue" alt="Vue logo" />
    </a>
    <a href="https://http://git.si.cnr.it/gianluca.troiani/vamp/" target="_blank">
      <img src="@/assets/presto-p.svg" class="logo presto" alt="Presto logo" />
    </a>
  </div>
  <div>
    <button
      type="button"
      class="btn btn-primary"
      title="Refreshes user token"
      @click="$store.refreshUserToken"
    >
      Refresh Token
    </button>
    <!-- BE validation button -->
    <button
      type="button"
      class="btn btn-primary"
      title="Write test data"
      :disabled="loading"
      @click="postData"
    >
      Post Validation
    </button>
    <button
      type="button"
      class="btn btn-primary"
      title="Check Console with Dev Tools"
      :disabled="loading"
      @click="getAuthors"
    >
      Backend Validation
    </button>
    <!-- Logout button -->
    <button type="button" class="btn btn-primary" @click="$store.logout">Logout</button>
  </div>
  <pre id="response-data">{{ responseData }}</pre>
  <h2>Keycloak User</h2>
  <p class="my-5">Username: {{ $store.user.username }}</p>
  <p class="my-5">Token:</p>
  <pre>{{ $store.user.token }}</pre>
  <p class="my-5">Refresh Token:</p>
  <pre>{{ $store.user.refToken }}</pre>
</template>

<style scoped>
.btn {
  margin: 0.25rem 0.125rem;
}
#logos {
  text-align: center;
}
pre {
  text-align: left;
  white-space: pre-wrap;
  word-wrap: break-word;
  background-color: #333;
  color: #cf9;
  padding: 1em;
  border-radius: 0.5rem;
  min-height: 3rem;
  max-height: 50vh;
  overflow: auto;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vue:hover {
  filter: drop-shadow(0 0 2em #42b883aa);
}
</style>
