<script setup>
import { useI18n } from 'vue-i18n';
import {getCurrentInstance, ref} from 'vue'

const { t, locale } = useI18n({
  inheritLocale: true,
  useScope: 'global'
});

const localstore = ref(getCurrentInstance().appContext.config.globalProperties.$localeStore);

const setLocale = (l) => {
  locale.value = l;
  localstore.value.setSelected(l)
}
</script>

<template>
  <nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
      <RouterLink class="navbar-brand" to="/">
        <img
        src="@/assets/presto-p.svg"
        alt="Logo"
        height="30"
        class="d-inline-block align-text-top"
        />
        {{ t('App Name') }}
      </RouterLink>
      <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
      >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <span class="flex-fill"></span>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <RouterLink class="nav-link active" aria-current="page" to="/">{{ t('menu.home') }}</RouterLink>
        </li>
        <li class="nav-item dropdown">
          <a
          class="nav-link dropdown-toggle"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          >
          {{ t('menu.entities') }}
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
          <% entities.forEach(function(entity) { %>
            <li><RouterLink class="dropdown-item" to="/<%= entity.path %>">{{t(`entities.<%= pluralize(entity.name) %>`)}}</RouterLink></li>
          <% }); %>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" :title="t('menu.language')">
          <i class="bi bi-translate"></i> {{ locale.toUpperCase() }}
        </button>
        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark">
          <button class="dropdown-item" type="button" @click="setLocale('en-EN', locale, $localeStore)">English</button>
          <button class="dropdown-item" type="button" @click="setLocale('it-IT', locale, $localeStore)">Italiano</button>
        </ul>
      </li>
    </ul>
  </div>
</div>
</nav>
</template>
