<script setup lang="ts">
import { ref, type Ref, onUpdated } from 'vue';
import { Toast } from 'bootstrap';

const props = defineProps({
  errors: { type: Array<ToastError>, default: () => [] },
});

const erros: Ref<ToastError[]> = ref(props.errors);

onUpdated(() => {
  const hiddenToasts = erros.value.filter((obj: Toast) => {
    return obj.show != true;
  });
  hiddenToasts.forEach((error: any) => {
    var errorToast = document.getElementById(error.id);
    var toast = new Toast(errorToast);
    toast.show();
    error.show = true;
    errorToast?.addEventListener('hidden.bs.toast', function () {
      const indexOfObject = erros.value.findIndex((item: any) => {
        return item.id === error.id;
      });
      if (indexOfObject !== -1) {
        erros.value.splice(indexOfObject, 1);
      }
    });
  });
});
</script>
<script lang="ts">
import { type ToastError } from '@/models/toastError.model';
const TOASTS_MAX = 5;
export function push(array: Array<ToastError>, data: any) {
  if (array.length == TOASTS_MAX) {
    array.shift();
    array.push(data);
  } else {
    array.push(data);
  }
}
</script>

<template>
  <div
    ref="container"
    class="position-fixed bottom-0 end-0 p-3"
    style="z-index: 999"
  >
    <div
      v-for="item in errors"
      v-bind:id="item.id"
      :key="item.id"
      class="toast fade bg-danger d-flex"
      role="alert"
      aria-live="assertive"
      aria-atomic="true"
      data-bs-delay="15000"
    >
      <div class="toast-body text-white error-body">{{ item.error.message }}</div>
      <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
  </div>
</template>
