import { useParams, useNavigate } from 'react-router-dom';
import { useState, useEffect } from 'react';
import { useTranslation } from 'react-i18next';
import { AxiosError } from 'axios';
import axiosInstance from '../../shared/axiosInstance';
import { ErrorResponseData, useNotifications } from '../../contexts/NotificationContext';
import { SimpleLoader } from '../../components/SimpleLoader';
import { IAcRule } from '../../shared/model/ac-rule.model';
import { AcRuleForm } from '../../components/entities/AcRuleForm';

interface AcRuleViewParams extends Record<string, string | undefined> {
  id: string;
}

export default function AcRuleEdit() {
  const { t, i18n } = useTranslation();
  const { id } = useParams<AcRuleViewParams>();
  const navigate = useNavigate();
  const { addNotification } = useNotifications();
  const [acRule, setAcRule] = useState<IAcRule>({} as IAcRule);
  const [loading, setLoading] = useState(false);

  useEffect(() => {
    if (id) {
      setLoading(true);
      axiosInstance
        .get(`/api/ac-rules/${id}`)
        .then((response) => response?.data)
        .then((data: IAcRule) => {
          setAcRule(data);
        })
        .catch((error: AxiosError<ErrorResponseData>) => {
          addNotification({
            type: 'error',
            message: `${t('errors.entities.read')} ${t('entities:ac_rule.AcRule')}${id ? ` ID ${id}` : ''}`,
            error,
          });
          navigate('/entities/ac-rules');
        })
        .finally(() => {
          setLoading(false);
        });
    }
  }, [id, addNotification, navigate, t]);

  const handleSubmit = (data: IAcRule) => {
    (id ? axiosInstance.put(`/api/ac-rules/${id}`, data) : axiosInstance.post('/api/ac-rules', data))
      .then((response) => response?.data)
      .then((data: IAcRule) => {
        addNotification({
          type: 'success',
          message: t(`actions.crud.successfully${id ? 'Updated' : 'Created'}`, {
            id: id || data.id,
          }),
        });
        navigate('/entities/ac-rules');
      })
      .catch((error: AxiosError<ErrorResponseData>) =>
        addNotification({
          type: 'error',
          message: `${t(id ? 'errors.entities.update' : 'errors.entities.create')} ${t('entities:ac_rule.AcRule')}${id ? ` ID ${id}` : ''}`,
          error,
        })
      );
  };

  useEffect(() => {
    document.title = `${t(`actions.crud.${id ? 'update' : 'create'}`)} ${t('entities:ac_rule.AcRule')}${id ? ` ID ${id}` : ''}`;
  }, [id, i18n.language, t]);

  return (
    <div className="max-w-5xl mx-auto">
      <h1 className="text-2xl my-8">
        {t(`actions.crud.${id ? 'update' : 'create'}`)} {t('entities:ac_rule.AcRule')}
        {id ? ` ID ${id}` : ''}
      </h1>
      <SimpleLoader loading={loading} />
      {!loading && (
        <AcRuleForm
          acRule={acRule}
          onSubmit={handleSubmit}
          onCancel={() => navigate('/entities/ac-rules')}
        />
      )}
    </div>
  );
}
