import { Link } from 'react-router-dom';
import { useParams, useNavigate } from 'react-router-dom';
import { useState, useEffect } from 'react';
import { useTranslation } from 'react-i18next';
import { ArrowLeft } from 'lucide-react';
import { useNotifications } from '../../contexts/NotificationContext';
import axiosInstance, { HttpError } from '../../shared/axiosInstance';
import { SimpleLoader } from '../../components/SimpleLoader';
import { Can } from '../../components/Can';
import { IAcRule } from '../../shared/model/ac-rule.model';
import AcRuleDeleteButton from '../../components/entities/AcRuleDeleteButton';

interface AcRuleDataViewParams {
  data: IAcRule | undefined | null;
}

interface AcRuleViewParams extends Record<string, string | undefined> {
  id: string;
}

export function AcRuleDataView({ data }: AcRuleDataViewParams) {
  const { t } = useTranslation();
  if (!data) return '';
  return (
    <table className="details-table">
      <tbody>
        <tr>
          <th scope="row">{t('entities:ac_rule.id')}</th>
          <td>
            <Link className="text-link" to={`/entities/ac-rules/view/${data?.id}`}>
              {data?.id}
            </Link>
          </td>
        </tr>
        <tr>
          <th scope="row">{t('entities:ac_rule.ptype')}</th>
          <td>{data?.ptype?.toString()}</td>
        </tr>
        <tr>
          <th scope="row">{t('entities:ac_rule.v0')}</th>
          <td>{data?.v0?.toString()}</td>
        </tr>
        <tr>
          <th scope="row">{t('entities:ac_rule.v1')}</th>
          <td>{data?.v1?.toString()}</td>
        </tr>
        <tr>
          <th scope="row">{t('entities:ac_rule.v2')}</th>
          <td>{data?.v2?.toString()}</td>
        </tr>
        <tr>
          <th scope="row">{t('entities:ac_rule.v3')}</th>
          <td>{data?.v3?.toString()}</td>
        </tr>
        <tr>
          <th scope="row">{t('entities:ac_rule.v4')}</th>
          <td>{data?.v4?.toString()}</td>
        </tr>
        <tr>
          <th scope="row">{t('entities:ac_rule.v5')}</th>
          <td>{data?.v5?.toString()}</td>
        </tr>
      </tbody>
    </table>
  );
}

export default function AcRuleView() {
  const { t, i18n } = useTranslation();
  const { id } = useParams<AcRuleViewParams>();

  const navigate = useNavigate();
  const { addNotification } = useNotifications();
  const [acRule, setAcRule] = useState<IAcRule>();
  const [loading, setLoading] = useState(false);

  useEffect(() => {
    if (!id) return;
    setLoading(true);
    axiosInstance
      .get(`/api/ac-rules/${id}`)
      .then((response) => response?.data)
      .then((data: IAcRule) => {
        setAcRule(data);
        setLoading(false);
      })
      .catch((error: HttpError) => {
        addNotification({
          type: 'error',
          message: `${t('errors.entities.read')} ${t('entities:ac_rule.AcRule')} ID ${id}`,
          details: error?.message,
          techDetails: error?.details,
        });
        navigate('/entities/ac-rules');
      });
  }, [id, navigate, t, addNotification]);

  useEffect(() => {
    document.title = `${t('entities:ac_rule.AcRule')} ID ${id}`;
  }, [id, i18n.language, t]);

  return (
    <>
      <h1 className="text-2xl mb-4">
        {t('entities:ac_rule.AcRule')} ID {id}
      </h1>
      <SimpleLoader loading={loading} />
      {!loading && <AcRuleDataView data={acRule} />}
      {!loading && (
        <div className="flex justify-center gap-4 mt-4">
          <Link to={`/entities/ac-rules`} className="cancel-button">
            <ArrowLeft size={20} />
            {t('actions.crud.back')}
          </Link>
          <Can resource="AcRule" action="update">
            <Link to={`/entities/ac-rules/edit/${id}`} className="primary-button">
              {t('actions.crud.edit')}
            </Link>
          </Can>
          <Can resource="AcRule" action="delete">
            <AcRuleDeleteButton id={id} />
          </Can>
        </div>
      )}
    </>
  );
}
