import { useTranslation } from 'react-i18next';
export default function Err401() {
  const { t } = useTranslation();
  return <div className="m-4">{t('entities.<%- to.capital(pluralize(entity.name))%>')}</div>;
}
