import { useTranslation } from 'react-i18next';
import { Button, OverlayArrow, Tooltip, TooltipTrigger } from 'react-aria-components';
import { AsteriskIcon, InfoIcon } from 'lucide-react';
import prettyBytes from 'pretty-bytes';

interface InfoValidationsProps {
  validations: IInfoValidations;
}
interface IInfoValidations {
  min?: number;
  minbytes?: number;
  minlength?: number;
  max?: number;
  maxbytes?: number;
  maxlength?: number;
  pattern?: string | RegExp;
  required?: boolean;
  unique?: boolean;
}

const InfoRequired: React.FC = () => {
  const { t } = useTranslation();
  return (
    <TooltipTrigger delay={0}>
      <Button>
        <AsteriskIcon className="size-5 sm:size-4" />
      </Button>
      <Tooltip>
        <OverlayArrow>
          <svg width={8} height={8} viewBox="0 0 8 8" className="fill-slate-300 dark:fill-gray-600">
            <path d="M0 0 L4 4 L8 0" />
          </svg>
        </OverlayArrow>
        <div className="bg-slate-300 text-slate-700 dark:bg-gray-600 dark:text-gray-100 text-sm p-2 rounded-lg">
          {t('info.validations.required')}
        </div>
      </Tooltip>
    </TooltipTrigger>
  );
};

const InfoValidations: React.FC<InfoValidationsProps> = ({ validations }) => {
  const { t } = useTranslation();
  return (
    <>
      {validations.required && <InfoRequired />}
      {Object.keys(validations).some((validation) =>
        ['min', 'max', 'minbytes', 'maxbytes', 'minlength', 'maxlength', 'unique'].includes(
          validation
        )
      ) && (
        <TooltipTrigger delay={0}>
          <Button>
            <InfoIcon className="size-5 sm:size-4" />
          </Button>
          <Tooltip>
            <OverlayArrow>
              <svg
                width={8}
                height={8}
                viewBox="0 0 8 8"
                className="fill-slate-300 dark:fill-gray-600"
              >
                <path d="M0 0 L4 4 L8 0" />
              </svg>
            </OverlayArrow>
            <div className="bg-slate-300 text-slate-700 dark:bg-gray-600 dark:text-gray-100 text-sm p-2 rounded-lg">
              {typeof validations.min === 'number' && (
                <div>{t(`info.validations.min`, { accepted: validations?.min })}</div>
              )}
              {typeof validations.max === 'number' && (
                <div>{t(`info.validations.max`, { accepted: validations?.max })}</div>
              )}
              {typeof validations.minbytes === 'number' && (
                <div>
                  {t(`info.validations.minbytes`, {
                    accepted: prettyBytes(Number(validations?.minbytes)),
                  })}
                </div>
              )}
              {typeof validations.maxbytes === 'number' && (
                <div>
                  {t(`info.validations.maxbytes`, {
                    accepted: prettyBytes(Number(validations?.maxbytes)),
                  })}
                </div>
              )}
              {typeof validations.minlength === 'number' && (
                <div>{t(`info.validations.minlength`, { accepted: validations?.minlength })}</div>
              )}
              {typeof validations.maxlength === 'number' && (
                <div>{t(`info.validations.maxlength`, { accepted: validations?.maxlength })}</div>
              )}
              {validations.unique && <div>{t(`info.validations.unique`)}</div>}
            </div>
          </Tooltip>
        </TooltipTrigger>
      )}
    </>
  );
};

export { InfoValidations };
export type { IInfoValidations };
