<script setup lang="ts">
import FooterComponent from '@/components/FooterComponent.vue';
import NavBar from '@/components/NavBar.vue'
import HttpErrorInterceptor from "@/components/HttpErrorInterceptor.vue"
</script>
<template>
  <nav-bar></nav-bar>
  <main class="container-fluid py-3 bg-body flex-fill">
    <router-view />
  </main>
  <footer-component class="bg-body-secondary" />
  <http-error-interceptor />
</template>