import { ChevronLeft, ChevronRight } from 'lucide-react';
import { PageLink } from '../types/api-response.types';
interface ApiResponsePaginationProps {
  pageLinks: PageLink[];
  onSelectPage: (page: number) => void;
}

const ApiResponsePagination: React.FC<ApiResponsePaginationProps> = ({
  onSelectPage,
  pageLinks,
}) => {
  return (
    pageLinks.length > 3 && (
      <div className="text-center">
        <nav
          aria-label="Pagination"
          className="isolate inline-flex -space-x-px rounded-md shadow-xs mb-5"
        >
          {pageLinks &&
            pageLinks.length > 0 &&
            pageLinks.map((link, index, array) => (
              <button
                key={index}
                type="button"
                disabled={!link.url || link.active}
                className={`
                ${link.url ? 'cursor-pointer text-gray-500 dark:text-gray-400 hover:bg-gray-50 hover:dark:bg-gray-800' : 'cursor-not-allowed text-gray-300 dark:text-gray-600'}  
                ${link.active ? 'font-bold text-gray-900 dark:text-white bg-gray-50 dark:bg-gray-800' : ''}
                focus:outline-none focus-visible:ring-4 focus:z-99 relative inline-flex items-center
                ${index === 0 ? 'rounded-l-md' : ''}
                ${index === array.length - 1 ? 'rounded-r-md' : ''}
                px-4 py-2 inset-ring inset-ring-gray-200 dark:inset-ring-gray-700
                `}
                onClick={() =>
                  link.url &&
                  onSelectPage(link.url.split('page=')[1].split('&')[0] as unknown as number)
                }
              >
                {index === 0 && <ChevronLeft size={16} />}
                {index === array.length - 1 && <ChevronRight size={16} />}
                {index > 0 && index < array.length - 1 && link.label}
              </button>
            ))}
        </nav>
      </div>
    )
  );
};
export default ApiResponsePagination;
export { ApiResponsePagination };
