import { ChevronLeft, ChevronRight } from 'lucide-react';
import { PageLink } from '../types/api-response.types';
interface ApiResponsePaginationProps {
  pageLinks: PageLink[];
  onSelectPage: (page: number) => void;
}

const ApiResponsePagination: React.FC<ApiResponsePaginationProps> = ({
  onSelectPage,
  pageLinks,
}) => {
  return (
    pageLinks.length > 3 && (
      <div className="text-center">
        <nav
          aria-label="Pagination"
          className="isolate inline-flex -space-x-px rounded-md shadow-xs dark:shadow-xs/70 mb-5"
        >
          {pageLinks &&
            pageLinks.length > 0 &&
            pageLinks.map((link, index, array) => (
              <button
                key={index}
                type="button"
                disabled={!link.url || link.active}
                className={`
                ${link.url ? 'cursor-pointer hover:bg-slate-200 hover:text-slate-800 hover:dark:bg-slate-800 hover:dark:text-slate-200' : 'cursor-not-allowed text-slate-300 dark:text-slate-600'}
                ${link.active ? 'font-bold bg-slate-300 text-slate-800 dark:bg-slate-700 dark:text-slate-200' : ''}
                focus:outline-none focus-visible:ring-4 focus-visible:ring-blue-600 focus:z-99 relative inline-flex items-center
                ${index === 0 ? 'rounded-l-md' : ''}
                ${index === array.length - 1 ? 'rounded-r-md' : ''}
                px-4 py-2 inset-ring inset-ring-slate-300 dark:inset-ring-slate-700
                `}
                onClick={() =>
                  link.url &&
                  onSelectPage(link.url.split('page=')[1].split('&')[0] as unknown as number)
                }
              >
                {index === 0 && <ChevronLeft size={16} />}
                {index === array.length - 1 && <ChevronRight size={16} />}
                {index > 0 && index < array.length - 1 && link.label}
              </button>
            ))}
        </nav>
      </div>
    )
  );
};
export default ApiResponsePagination;
export { ApiResponsePagination };
