import { useTranslation } from 'react-i18next';
import { ChevronLeftIcon, ChevronRightIcon } from '@heroicons/react/16/solid';
import { PageLink } from '../types/api-response.types';
interface ApiResponsePaginationProps {
  pageLinks: PageLink[];
  onSelectPage: (page: number) => void;
}

const ApiResponsePagination: React.FC<ApiResponsePaginationProps> = ({
  onSelectPage,
  pageLinks,
}) => {
  const { t } = useTranslation();
  return (
    pageLinks.length > 3 && (
      <div className="text-center">
        <nav
          aria-label={t('pagination.pagination')}
          className="isolate inline-flex -space-x-px rounded-md shadow-xs dark:shadow-xs/70 mb-5"
        >
          {pageLinks &&
            pageLinks.length > 0 &&
            pageLinks.map((link, index, array) => (
              <button
                key={index}
                type="button"
                {...((index !== 0 || index === array.length - 1) && (!link.url || link.active)
                  ? { 'aria-current': 'page' }
                  : {})}
                {...(!link.url || link.active ? { disabled: true } : {})}
                {...(index === 0 ? { 'aria-label': t('pagination.previous') } : {})}
                {...(index === array.length - 1 ? { 'aria-label': t('pagination.next') } : {})}
                {...(index > 0 && index < array.length - 1
                  ? { 'aria-label': t('pagination.goto', { page: link.label }) }
                  : {})}
                disabled={!link.url || link.active}
                className={`
                ${link.url ? 'cursor-pointer hover:bg-slate-200 hover:text-slate-800 hover:dark:bg-slate-800 hover:dark:text-slate-200' : 'cursor-not-allowed text-slate-300 dark:text-slate-600'}
                ${link.active ? 'font-bold bg-slate-300 text-slate-800 dark:bg-slate-700 dark:text-slate-200' : ''}
                focus:outline-none focus-visible:ring-4 focus-visible:ring-blue-600 focus-visible:dark:ring-sky-300 focus:z-99 relative inline-flex items-center
                ${index === 0 ? 'rounded-l-md' : ''}
                ${index === array.length - 1 ? 'rounded-r-md' : ''}
                px-4 py-2 inset-ring inset-ring-slate-300 dark:inset-ring-slate-700
                `}
                onClick={() =>
                  link.url &&
                  onSelectPage(link.url.split('page=')[1].split('&')[0] as unknown as number)
                }
              >
                {index === 0 && <ChevronLeftIcon aria-hidden className="h-4" />}
                {index === array.length - 1 && <ChevronRightIcon aria-hidden className="h-4" />}
                {index > 0 && index < array.length - 1 && link.label}
              </button>
            ))}
        </nav>
      </div>
    )
  );
};
export default ApiResponsePagination;
export { ApiResponsePagination };
