import { ReactElement, useState, useEffect, useRef } from 'react';
import { useTranslation } from 'react-i18next';
import { Icon } from './Icon';

interface ConfirmButtonProps {
  label: string | ReactElement;
  pendingLabel?: string | ReactElement;
  className?: string;
  pendingClassName?: string;
  timeout?: number;
  disabled?: boolean;
  onConfirm: () => void | Promise<void>;
}

const ConfirmButton: React.FC<ConfirmButtonProps> = ({
  label,
  pendingLabel,
  className,
  pendingClassName,
  timeout = 5000,
  disabled = false,
  onConfirm,
}) => {
  const [pendingLaunch, setPendingLaunch] = useState(false);
  const [countdown, setCountdown] = useState(0);
  const [perc, setPerc] = useState(0);
  const { t } = useTranslation();
  const confirmTimer = useRef<NodeJS.Timeout | null>(null);

  useEffect(() => {
    if (pendingLaunch) {
      setCountdown(timeout);
      setPerc(100);

      const updateTimer = setInterval(() => {
        setPerc((prev) => {
          const newPerc = prev - 100 / (timeout / 100);
          return newPerc >= 0 ? newPerc : 0;
        });
        setCountdown((prev: number) => {
          if (prev <= 0) {
            clearInterval(updateTimer);
            return 0;
          }
          return prev - 100;
        });
      }, 100);

      const timer = setTimeout(() => {
        clearInterval(updateTimer);
        setPendingLaunch(false);
      }, timeout);

      confirmTimer.current = timer;
    } else {
      if (confirmTimer.current) {
        clearTimeout(confirmTimer.current);
        confirmTimer.current = null;
      }
      setCountdown(0);
      setPerc(0);
    }

    return () => {
      if (confirmTimer.current) {
        clearTimeout(confirmTimer.current);
      }
    };
  }, [pendingLaunch, timeout]);

  return (
    <>
      {!pendingLaunch && (
        <button
          disabled={disabled}
          type="button"
          className={className}
          onClick={() => setPendingLaunch(true)}
        >
          {label}
        </button>
      )}
      {pendingLaunch && (
        <span className="flex">
          <button
            disabled={disabled}
            type="button"
            onClick={() => {
              setPendingLaunch(false);
              onConfirm();
            }}
            className={`${pendingClassName} rounded-none! rounded-l-md!`}
          >
            <span className="flex gap-2">{pendingLabel}</span>
            <span className="sr-only" role="timer" aria-live="polite">
              {countdown !== null ? Math.ceil(countdown / 1000) : 0}
            </span>
          </button>
          <button
            disabled={disabled}
            title={t('common.cancel')}
            onClick={(event) => {
              event.preventDefault();
              event.stopPropagation();
              setPendingLaunch(false);
            }}
            className={`${pendingClassName} rounded-none! rounded-r-md!`}
          >
            <div className="relative">
              <Icon icon="close" size={3} className="block! p-1 box-content" />
              <div
                aria-hidden
                className={`size-5 absolute inset-0 border-3 border-inherit opacity-30 rounded-full`}
              ></div>
              <div
                aria-hidden
                className="size-5 absolute inset-0 border-3 border-inherit rounded-full -scale-x-100"
                style={{
                  mask: `conic-gradient(transparent ${100 - perc}%, black 0)`,
                  WebkitMask: `conic-gradient(transparent ${100 - perc}%, black 0)`,
                }}
              ></div>
            </div>
            <span className="sr-only">{t('common.cancel')}</span>
          </button>
        </span>
      )}
    </>
  );
};

export default ConfirmButton;
