import { useState } from 'react';
import { useTranslation } from 'react-i18next';
import { Icon } from './Icon';
export function DarkModeToggle() {
  const { t } = useTranslation();
  const [dark, setDark] = useState(!!JSON.parse(localStorage.getItem('dark-mode') || 'false'));
  const darkModeHandler = () => {
    localStorage.setItem('dark-mode', JSON.stringify(!dark));
    setDark(!dark);
    document.documentElement.classList.toggle('dark');
  };
  return (
    <button
      aria-label={t(dark ? 'ui.darkmode.light' : 'ui.darkmode.dark')}
      title={t(dark ? 'ui.darkmode.light' : 'ui.darkmode.dark')}
      className={`relative nav-bar-link size-9 rounded-full cursor-pointer`}
      onClick={() => darkModeHandler()}
    >
      <Icon
        icon="light_mode"
        size={6}
        fill
        className={`absolute top-1.5 left-1.5 transition-transform! duration-500
        ${dark ? 'rotate-0 opacity-100 scale-100' : '-rotate-90 opacity-0 scale-50'}`}
      />
      <Icon
        icon="dark_mode"
        size={6}
        fill
        className={`absolute top-1.5 left-1.5 transition-transform! duration-500
        ${dark ? 'rotate-90 opacity-0 scale-50' : 'rotate-0 opacity-100 scale-100!'}`}
      />
    </button>
  );
}
