import { useState } from 'react';
import { useTranslation } from 'react-i18next';
import { Moon, Sun } from 'lucide-react';
export function DarkModeToggle() {
  const { t } = useTranslation();
  const [dark, setDark] = useState(!!JSON.parse(localStorage.getItem('dark-mode') || 'false'));
  const darkModeHandler = () => {
    localStorage.setItem('dark-mode', JSON.stringify(!dark));
    setDark(!dark);
    document.documentElement.classList.toggle('dark');
  };
  return (
    <button
      aria-label={t(dark ? 'ui.darkmode.light' : 'ui.darkmode.dark')}
      title={t(dark ? 'ui.darkmode.light' : 'ui.darkmode.dark')}
      className={`inline-flex items-center gap-1 nav-bar-link cursor-pointer`}
      onClick={() => darkModeHandler()}
    >
      {dark ? <Sun size={20} /> : <Moon size={20} />}
    </button>
  );
}
