const Footer: React.FC = () => {
  return (
    <footer className="flex-grow text-sm bg-slate-300 text-slate-800 dark:bg-slate-950 dark:text-slate-200">
      <div className="p-8 flex gap-4">
        <div className="">
          <a
            href="https://pninja.tech"
            target="_blank"
            rel="noopener noreferrer"
            className="flex items-center gap-1 hover:underline hover:text-slate-950 hover:dark:text-slate-50"
          >
            <div>Powered by PNinja </div>
            <svg className="h-5 w-5" viewBox="0 0 5.292 5.292" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M4.522.78c-.215.03-.36.03-.36.03s.236.118.561.199a2.646 2.646 0 00-.088-.107L4.62.886a2.646 2.646 0 00-.086-.092L4.522.78zm-.593 1.282s.364.538.876.686c-.22.24-.488.453-.815.616a5.237 5.237 0 01-.202.096c-.344-.193-.53-.51-.53-.51s-.011.38.181.649C1.538 4.261.914 2.846.892 2.794c.238 1.408 2.741 1.985 4.148.25.089-.104.175-.229.249-.35a2.646 2.646 0 00.003-.048 2.646 2.646 0 00-.012-.252l-.001-.006a2.646 2.646 0 00-.037-.253c-.033.06-.069.12-.106.179-.621.06-1.207-.252-1.207-.252zM3.106.041v.074l.022.033c.507.749.284 1.758-.175 2.303-.229.273-.503.418-.76.389-.255-.03-.534-.23-.773-.754l-.003-.01-.005-.008c-.076-.117-.206-.191-.338-.17-.13.022-.232.132-.28.276l-.003.004-.002.005a1.47 1.47 0 00.254 1.278c.264.344.67.587 1.139.707.936.239 2.133-.022 2.96-1.04l.001-.001c.044-.051.086-.107.126-.164.014-.105.022-.211.023-.317A2.646 2.646 0 003.106.04zm.303.226c.098.03.199.056.293.098a2.495 2.495 0 01.312.174h.002c.097.063.188.133.275.209l.012.01h.002c.085.074.165.154.239.24V1l.012.013h.001c.074.087.142.178.203.274v.002h.002c.002.002.002.006.004.01.062.097.118.2.166.305a2.51 2.51 0 01.125.328v.003l.002.005v.002c.034.113.058.23.075.347l.001.004c.017.117.024.235.024.353l.002-.01v.013c-.067.109-.145.22-.22.308l-.003.002v.002c-.76.94-1.85 1.164-2.69.95-.42-.108-.774-.325-.994-.612a1.182 1.182 0 01-.207-1.047c.027-.07.058-.09.07-.092.013-.002.037 0 .07.048.26.565.609.854.978.896.372.042.723-.166.99-.483.482-.573.645-1.531.254-2.353zM2.646 0A2.646 2.646 0 000 2.646a2.646 2.646 0 002.646 2.646 2.646 2.646 0 002.646-2.646A2.646 2.646 0 002.646 0zm0 .265a2.381 2.381 0 012.381 2.381 2.381 2.381 0 01-2.381 2.381A2.381 2.381 0 01.265 2.646 2.381 2.381 0 012.646.265z"
                fill="currentColor"
              />
            </svg>
          </a>
        </div>
        <div className="border-s-1 ps-4 flex-grow">© <%- (new Date()).getFullYear() %></div>
        <div className="whitespace-nowrap">
          <span className="bg-slate-50 text-slate-900 dark:bg-slate-900 dark:text-slate-100 rounded px-2 py-1 font-mono text-xs">
            v.{import.meta.env.VITE_APP_VERSION || 'DEV'}
          </span>
        </div>
      </div>
    </footer>
  );
};

export default Footer;
