const Footer: React.FC = () => {
  return (
    <footer className="bg-slate-200 dark:bg-black text-sm text-gray-600 dark:text-gray-400 flex-grow">
      <div className="pt-8 max-w-7xl mx-auto flex gap-4">
        <div className="">
          <a
            href="https://pninja.tech"
            target="_blank"
            rel="noopener noreferrer"
            className="text-link flex items-center gap-1"
          >
            <div>Powered by PNinja </div>
            <svg className="h-5 w-5" viewBox="0 0 5.292 5.292" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M3.85 2.097s.343.506.824.645a2.608 2.608 0 01-.766.579 4.906 4.906 0 01-.19.09c-.323-.181-.497-.479-.497-.479s-.011.356.17.61c-1.786.62-2.371-.708-2.392-.757.223 1.322 2.574 1.865 3.896.234.083-.097.164-.215.233-.329l.003-.044c0-.08-.004-.158-.011-.236l-.001-.007a2.487 2.487 0 00-.035-.236 3.305 3.305 0 01-.1.167c-.583.056-1.133-.237-1.133-.237zM2.849.008a.16.16 0 00-.155.232v.001a.16.16 0 00.129.087l.002.001h.001l.021.002a.16.16 0 00.062-.03.16.16 0 00.03.04l.048.007h.001A.16.16 0 002.99.347a.16.16 0 00.002.001h.004l.01.002a.16.16 0 00.042-.015.16.16 0 00.016.025h.001V.36L3.1.367l.01.016.001.002h.002l.034.061.002.004a1.536 1.536 0 01.035.068l.028.065.002.004v.002a.16.16 0 00.002 0l.022.06a.132.132 0 00.002.007l.003.004a1.57 1.57 0 01.021.066l.002.009.015.046v.007l.004.014.012.05.005.021.006.031.001.007a1.705 1.705 0 01.01.064l.008.052c.005.049.008.098.01.148.016.626-.312 1.252-.687 1.499-.188.123-.369.157-.553.086-.184-.07-.39-.263-.568-.656a.16.16 0 00-.01-.02c-.078-.12-.214-.199-.353-.176-.14.023-.245.138-.294.282a.16.16 0 00-.003.013c-.117.466-.009.899.245 1.23.253.33.642.562 1.088.676.893.228 2.032-.022 2.816-.988.091-.106.175-.228.248-.347a.16.16 0 00.022-.07l.004-.048a.16.16 0 000-.01c0-.125-.009-.249-.026-.372v-.002a.16.16 0 000-.002 2.657 2.657 0 00-.08-.366.16.16 0 00-.002-.006.16.16 0 00-.008-.02l.008.018-.008-.02a2.642 2.642 0 00-.119-.32.16.16 0 00-.001-.002l-.002-.006v-.001c-.05-.11-.11-.218-.176-.32h.002a2.635 2.635 0 00-.223-.298L4.643.912V.91A2.652 2.652 0 004.391.66L4.379.647h-.001a2.653 2.653 0 00-.289-.219h-.001L4.083.425a2.655 2.655 0 00-.326-.18.16.16 0 00-.003-.001 2.645 2.645 0 00-.293-.11.16.16 0 00-.007-.006 2.654 2.654 0 00-.222-.06.16.16 0 00-.02.008.16.16 0 00-.016-.016l-.06-.013-.011-.002h-.002a.16.16 0 00-.026.018.16.16 0 00-.03-.027L3.056.033 3.049.032l-.01-.001.005.003a.16.16 0 00-.002.002.16.16 0 00-.006-.005h-.001L2.98.022a.16.16 0 00-.043.034.16.16 0 00-.056-.04.16.16 0 00-.005-.004h-.002c-.007 0-.014-.002-.02-.003h-.003-.004zm.026.018l.054.037a.16.16 0 00-.064.05zm.18.013l.043.025a.16.16 0 00-.011.007.16.16 0 00-.032-.026zM3.1.064l.02.012-.001.006a.16.16 0 00-.02-.018zm-.245.164a.16.16 0 00.019.026l-.027.04zm.67.271c.033.013.068.024.101.038.098.046.193.098.283.157a.16.16 0 00.001 0l.003.002a.16.16 0 000 .001c.09.058.176.123.257.193l.01.01c.079.069.153.143.221.222l.012.014a2.331 2.331 0 01.348.545l.004.007c.045.099.083.2.113.305v.001a.16.16 0 00.002.004v.005a2.327 2.327 0 01.09.634c-.06.099-.128.2-.196.278a.16.16 0 00-.003.004c-.706.871-1.713 1.078-2.49.88-.387-.099-.713-.3-.913-.56-.2-.261-.28-.578-.187-.955.02-.044.04-.06.037-.059-.004 0 .003-.008.03.033l-.01-.021c.2.44.454.711.743.823.29.11.595.046.845-.119.501-.33.85-1.037.831-1.774a2.093 2.093 0 00-.012-.175L3.636.929 3.635.92a1.959 1.959 0 00-.01-.065.16.16 0 000-.002 1.972 1.972 0 00-.01-.044L3.61.784a1.95 1.95 0 00-.014-.06L3.59.705 3.589.698a1.925 1.925 0 00-.017-.057L3.57.631a.16.16 0 000-.001C3.567.622 3.566.62 3.567.625L3.544.553 3.54.547 3.538.539l-.015-.04zM2.644 0A2.648 2.648 0 000 2.645a2.649 2.649 0 002.645 2.647 2.65 2.65 0 002.647-2.647A2.649 2.649 0 002.645 0zm0 .32a2.323 2.323 0 012.326 2.325 2.324 2.324 0 01-2.326 2.326A2.323 2.323 0 01.321 2.645 2.322 2.322 0 012.645.321z"
                fill="currentColor"
              />
            </svg>
          </a>
        </div>
        <div className="border-l-1 pl-4 flex-grow">
          © <%- (new Date()).getFullYear() %>
        </div>
        <div className="whitespace-nowrap">
          <span className="bg-slate-100 dark:bg-gray-900 text-slate-600 dark:text-slate-400 rounded px-2 py-1">
            v.{import.meta.env.VITE_APP_VERSION || 'DEV'}
          </span>
        </div>
      </div>
    </footer>
  );
};

export default Footer;
