import { FieldErrors } from 'react-hook-form';
import { useTranslation } from 'react-i18next';
import prettyBytes from 'pretty-bytes';

interface FormErrorsProps {
  fieldName: string;
  errors: FieldErrors<Record<string, unknown>>;
  validations?: Record<string, unknown>;
}

const FormErrors: React.FC<FormErrorsProps> = ({ fieldName, errors, validations }) => {
  const { t } = useTranslation();
  validations = validations || {};
  const { min, max, minbytes, maxbytes, minlength, maxlength } = validations;
  return (
    errors?.[fieldName]?.message && (
      <p className="mt-1 text-sm text-red-600">
        {t(errors?.[fieldName]?.message, {
          min: min ?? minlength ?? prettyBytes(Number(minbytes || 0)),
          max: max ?? maxlength ?? prettyBytes(Number(maxbytes || 0)),
        })}
      </p>
    )
  );
};

export { FormErrors };
