import { FieldErrors } from 'react-hook-form';
import { useTranslation } from 'react-i18next';

interface FormErrorsProps {
  fieldName: string;
  errors: FieldErrors<Record<string, unknown>>;
}

const FormErrors: React.FC<FormErrorsProps> = ({ fieldName, errors }) => {
  const { t } = useTranslation();
  const [message, accepted, actual] = errors?.[fieldName]?.message?.split(':') || [];
  return (
    errors?.[fieldName]?.message && (
      <p className="mt-1 text-sm text-red-600">{t(message, { accepted, actual: actual })}</p>
    )
  );
};

export { FormErrors };
