import { SimpleLoader } from './SimpleLoader';

export function FullPageLoader({ loading = true }) {
  return loading ? (
    <div className="fixed inset-0 bg-white/50 dark:bg-black/50 flex items-center justify-center z-10000 top-0 right-0 bottom-0 left-0">
      <SimpleLoader />
    </div>
  ) : null;
}
