import { useEffect } from 'react';
import { Button, Menu, MenuItem, MenuTrigger, Popover } from 'react-aria-components';
import { useTranslation } from 'react-i18next';
import { Languages, ChevronDown } from 'lucide-react';
import { languages, languagesData } from '../config/languages.ts';

export function LangSelect() {
  const { i18n } = useTranslation();
  const changeLanguage = (lng: string) => {
    i18n.changeLanguage(lng);
  };
  useEffect(() => {
    document.documentElement.lang = i18n.language;
    document.documentElement.dir = i18n.dir();
  }, [i18n.language, i18n.dir, i18n]);
  return (
    <MenuTrigger>
      <Button
        aria-label="Menu"
        className="w-full md:w-auto inline-flex gap-1 items-center justify-center nav-bar-link"
      >
        <Languages size={16} />
        {languagesData.find(
          (lang) => lang.value === i18n.language || lang.value === i18n.language.split('-')[0]
        )?.name || i18n.language}
        <ChevronDown size={16} />
      </Button>
      <Popover className="w-full md:w-auto max-w-[50%] md:min-w-30 rounded-md shadow-lg ring-1 ring-black/25 dark:ring-white/25 bg-slate-100 text-slate-900 dark:bg-gray-900 dark:text-gray-300 max-h-[60vh] overflow-y-auto thin-scrollbar">
        <Menu>
          {languages.map((language) => (
            <MenuItem
              onAction={() => changeLanguage(language)}
              className={`rounded-md m-1 hover:ring-4 data-[focus]:ring-4 block p-2 cursor-pointer${i18n.language === language ? ' bg-slate-300 text-slate-900 dark:bg-gray-700 dark:text-gray-300' : ''}`}
              key={language}
            >
              {`${languagesData.find((lang) => lang.value === language)?.engName || language} (${languagesData.find((lang) => lang.value === language)?.name || language})`}
            </MenuItem>
          ))}
        </Menu>
      </Popover>
    </MenuTrigger>
  );
}
