import { useEffect } from 'react';
import { Button, Menu, MenuItem, MenuTrigger, Popover } from 'react-aria-components';
import { useTranslation } from 'react-i18next';
import { Languages, ChevronDown } from 'lucide-react';

const languages = ['en', 'es', 'de', 'fr', 'it'];

export function LangSelect() {
  const { i18n } = useTranslation();
  const changeLanguage = (lng: string) => {
    i18n.changeLanguage(lng);
  };
  useEffect(() => {
    document.documentElement.lang = i18n.language;
  }, [i18n.language]);
  return (
    <MenuTrigger>
      <Button
        aria-label="Menu"
        className="w-full md:w-auto inline-flex gap-1 items-center justify-center nav-bar-link"
      >
        <Languages size={16} />
        {i18n.language.toUpperCase()}
        <ChevronDown size={16} />
      </Button>
      <Popover className="w-full md:w-auto max-w-[50%] md:min-w-30 rounded-md shadow-lg ring-1 ring-black/25 dark:ring-white/25 bg-slate-100 text-slate-900 dark:bg-gray-900 dark:text-gray-300">
        <Menu>
          {languages.map((language) => (
            <MenuItem
              onAction={() => changeLanguage(language)}
              className={`rounded-md m-1 hover:ring-4 data-[focus]:ring-4 block p-2 cursor-pointer${i18n.language === language ? ' bg-slate-300 text-slate-900 dark:bg-gray-700 dark:text-gray-300' : ''}`}
              key={language}
            >
              {language.toUpperCase()}
            </MenuItem>
          ))}
        </Menu>
      </Popover>
    </MenuTrigger>
  );
}
