import { useTranslation } from 'react-i18next';
import { useState } from 'react';
import { useLocation, useNavigate } from 'react-router-dom';
import { Icon } from './Icon';

const LoginButton: React.FC = () => {
  const { t } = useTranslation();
  const [loading, setLoading] = useState(false);
  const location = useLocation();
  const navigate = useNavigate();

  const handleLogin = async () => {
    navigate('/login', { state: { from: location.pathname } });
    setLoading(true);
  };

  return (
    <button
      title={loading ? t('ui.account.loggingIn') : t('ui.account.login')}
      aria-label={t('ui.account.login')}
      onClick={handleLogin}
      disabled={loading}
      className={`inline-flex items-center gap-1 nav-bar-link p-2! rounded-full ${loading ? 'cursor-not-allowed' : 'cursor-pointer'}`}
    >
      {loading ? (
        <div className="animate-spin rounded-full size-5 border-b-2"></div>
      ) : (
        <Icon icon="login" size={5} />
      )}
    </button>
  );
};

export default LoginButton;
