import { useTranslation } from 'react-i18next';
import { useAuthState } from '../contexts/AuthContext';
import { LogIn, Loader } from 'lucide-react';
import { useLocation, useNavigate } from 'react-router-dom';

const LoginButton: React.FC = () => {
  const { t } = useTranslation();
  const { loading } = useAuthState();
  const location = useLocation();
  const navigate = useNavigate();

  const handleLogin = async () => {
    navigate('/login', { state: { from: location.pathname } });
  };

  return (
    <button
      onClick={handleLogin}
      disabled={loading}
      className={`inline-flex items-center gap-1 nav-bar-link ${loading ? 'opacity-70 cursor-not-allowed' : ''}`}
    >
      {loading ? <Loader size={16} className="animate-spin" /> : <LogIn size={16} />}
      {loading ? t('ui.account.loggingIn') : t('ui.account.login')}
    </button>
  );
};

export default LoginButton;
