import { useTranslation } from 'react-i18next';
import { useUserAutenticatedHelper } from '../hooks/userAutenticatedHelper';
import { LogIn } from 'lucide-react';
export function LoginButton() {
  const { login } = useUserAutenticatedHelper();
  const { t } = useTranslation();
  return (
    <button onClick={() => login()} className={`inline-flex items-center gap-1 nav-bar-link`}>
      <LogIn size={16} />
      {t('ui.account.login')}
    </button>
  );
}
