import { useTranslation } from 'react-i18next';
import { useNavigate } from 'react-router-dom';
import { LogOut } from 'lucide-react';
import { useAuthorization } from '../contexts/AuthorizationContext';

const LogoutButton: React.FC = () => {
  const navigate = useNavigate();
  const { t } = useTranslation();
  const { refresh } = useAuthorization();
  const handleLogout = async () => {
    refresh();
    navigate('/logout', { state: { from: location.pathname } });
  };

  return (
    <button
      onClick={handleLogout}
      title={t('ui.account.logout')}
      aria-label={t('ui.account.logout')}
      className={`inline-flex items-center gap-1 nav-bar-link p-2! rounded-full cursor-pointer`}
    >
      <LogOut aria-hidden="true" size={20} />
    </button>
  );
};

export default LogoutButton;
