import { useTranslation } from 'react-i18next';
import { useUserAutenticatedHelper } from '../hooks/userAutenticatedHelper';
import { LogOut } from 'lucide-react';
export function LogoutButton() {
  const { logout } = useUserAutenticatedHelper();
  const { t } = useTranslation();
  return (
    <button
      onClick={() =>
        logout({
          redirectUri: window.location.origin,
        })
      }
      className={`inline-flex items-center gap-1 nav-bar-link`}
    >
      <LogOut size={16} />
      {t('ui.account.logout')}
    </button>
  );
}
