import { useTranslation } from 'react-i18next';
import { useNavigate } from 'react-router-dom';
import { LogOut } from 'lucide-react';

const LogoutButton: React.FC = () => {
  const navigate = useNavigate();
  const { t } = useTranslation();

  const handleLogout = async () => {
    navigate('/logout', { state: { from: location.pathname } });
  };

  return (
    <button onClick={handleLogout} className={`inline-flex items-center gap-1 nav-bar-link`}>
      <LogOut size={16} />
      {t('ui.account.logout')}
    </button>
  );
};

export default LogoutButton;
