import { Link, useLocation } from 'react-router-dom';
import { useTranslation } from 'react-i18next';
import { DarkModeToggle } from './DarkModeToggle';
import { LangSelect } from './LangSelect';
import { useAuth } from '../hooks/useAuth';
import { LoginButton } from './LoginButton';
import { LogoutButton } from './LogoutButton';
import { Loader } from 'lucide-react';
import appLogo from '../assets/logo.svg';
export default function Menu() {
  const { isAuthenticated, loading } = useAuth();
  const { t } = useTranslation();
  const location = useLocation();
  const isActive = (path: string) => (location.pathname === path ? ' active' : '');
  return (
    <nav className="nav-bar">
      <Link to="/" className="rounded-full hover:ring-4 focus:outline-none focus-visible:ring-4">
        <img className="h-8 w-auto" src={appLogo} alt="" />
      </Link>
      <Link to="/" className="hover:text-sky-600 hover:dark:text-sky-400 text-xl">
        {t('appName')}
      </Link>
      <span className="grow"></span>
      <Link className={`nav-bar-link${isActive('/')}`} to="/">
        {t('pages.Home')}
      </Link>
<%     entities.forEach((entity, index) => {-%>
      <Link className={`nav-bar-link${isActive('/entities/<%- to.slug(pluralize(entity.name)) %>')}`} to="/entities/<%- to.slug(pluralize(entity.name)) %>">
        {t('entities.<%-to.snake(entity.name)%>.<%- pluralize(entity.name)%>')}
      </Link>
<%    });-%>
      <LangSelect />
      <DarkModeToggle />
      {loading && (
        <button className={'inline-flex items-center gap-1 nav-bar-link animate-pulse'}>
          <Loader size={16} className="animate-spin" />
          <div className="w-12">&nbsp;</div>
        </button>
      )}
      {!loading && !isAuthenticated && <LoginButton />}
      {!loading && isAuthenticated && <LogoutButton />}
    </nav>
  );
}
