import { Link, useLocation } from 'react-router-dom';
import { useTranslation } from 'react-i18next';
import { LangSelect } from './LangSelect';
import { LoginButton } from './LoginButton';
import { LogoutButton } from './LogoutButton';
import { useKeycloak } from '@react-keycloak/web';
import appLogo from '../assets/logo.svg';
export default function Menu() {
  const { keycloak, initialized } = useKeycloak();
  const { t } = useTranslation();
  const location = useLocation();
  const isActive = (path: string) => {
    return location.pathname === path ? 'bg-gray-700' : 'bg-gray-900';
  };
  return (
    <nav className="md:flex md:h-16 md:space-x-4 md:px-4 items-center bg-gray-800 text-gray-300">
      <Link to="/" data-discover="true" className="rounded-md hover:ring-4 focus:outline-none focus-visible:ring-4">
        <img className="h-8 w-auto" src={appLogo} alt="" />
      </Link>
      <span className="text-xl">{t('appName')}</span>
      <span className="grow"></span>
      <Link
        className={`block rounded-md px-3 py-2 text-sm font-medium text-white ${isActive('/')} hover:ring-4 focus:outline-none focus-visible:ring-4`}
        to="/"
        data-discover="true"
      >
        {t('pages.Home')}
      </Link>
      <% entities.forEach((entity, index) => {%>
      <Link
        className={`block rounded-md px-3 py-2 text-sm font-medium text-white ${isActive('/entities/<%- to.slug(pluralize(entity.name)) %>')} hover:ring-4 focus:outline-none focus-visible:ring-4`}
        to="/entities/<%- to.slug(pluralize(entity.name)) %>"
        data-discover="true"
      >
        {t('entities.<%- to.capital(pluralize(entity.name))%>')}
      </Link>      
      <% }); %>
      <LangSelect />
      {!keycloak.authenticated && <LoginButton />}
      {keycloak.authenticated && <LogoutButton />}
    </nav>
  );
}
