export function SimpleLoader({ loading = true }) {
  return loading ? (
    <div className="flex items-center justify-center h-64">
      <div className="animate-spin rounded-full h-12 w-12 border-b-2 border-sky-600 dark:border-sky-400"></div>
    </div>
  ) : null;
}
