function createTd(key: number) {
  return (
    <td key={key}>
      <div className="col-span-2 h-2 rounded bg-gray-200"></div>
    </td>
  );
}

function createTh(key: number) {
  return (
    <th key={key} scope="col">
      <div className="col-span-2 h-2 rounded bg-gray-400"></div>
    </th>
  );
}

function createRow(cols = 5, key: number) {
  return (
    <tr key={key}>
      <td className="w-0">
        <div className="col-span-2 h-2 rounded bg-gray-200"></div>
      </td>
      {Array(cols)
        .fill('')
        .map((_, i) => createTd(i))}
    </tr>
  );
}

interface TableSkeletonLoaderProps {
  loading?: boolean;
  rows?: number;
  cols?: number;
}

export function TableSkeletonLoader({
  loading = false,
  rows = 5,
  cols = 5,
}: TableSkeletonLoaderProps) {
  if (!loading) return null;
  const colsFiltered = cols < 10 ? cols : 10;
  return (
    <div role="status" className="animate-pulse">
      <table className="data-table">
        <thead>
          <tr>
            <th scope="col" className="w-0">
              <div className="col-span-2 h-2 rounded bg-gray-400">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </div>
            </th>
            {Array(colsFiltered)
              .fill('')
              .map((_, i) => createTh(i))}
          </tr>
        </thead>
        <tbody>
          {Array(rows)
            .fill('')
            .map((_, i) => createRow(colsFiltered, i))}
        </tbody>
      </table>
      <p className="sr-only">Loading...</p>
    </div>
  );
}
