import { useTranslation } from 'react-i18next';
import { useState } from 'react';
import { UseFormReturn } from 'react-hook-form';
import { FormLabel } from './FormLabel';
import { FormErrors } from './FormErrors';
import { Eye, EyeOff } from 'lucide-react';

const inputClassName = (hasErrors = false) =>
  `scheme-light dark:scheme-dark outline-0${hasErrors ? ' outline-2 -outline-offset-2 outline-red-500' : ''} focus:outline-2 focus:-outline-offset-2 ${hasErrors ? 'focus:outline-red-500' : 'focus:outline-blue-600'} rounded-md block w-full mt-3 border-none bg-slate-200 text-slate-900 dark:bg-gray-800 dark:text-gray-300 text-sm/6 py-1.5 px-3`;

interface PasswordFieldProps {
  fieldName: string;
  formMethods: UseFormReturn;
  label: string;
  validations?: {
    required?: boolean;
  };
}

const PasswordField: React.FC<PasswordFieldProps> = ({
  fieldName,
  formMethods,
  label,
  validations,
}) => {
  const { t } = useTranslation();
  const { required } = validations || {};
  const {
    register,
    formState: { errors },
  } = formMethods;
  const [showPassword, setShowPassword] = useState(false);

  return (
    <>
      <FormLabel htmlFor={fieldName} label={label} validations={validations} />
      <div className="grid grid-cols-1">
        <input
          type={showPassword ? 'text' : 'password'}
          id={fieldName}
          {...register(fieldName, {
            required: required ? 'errors.validations.required' : false,
          })}
          className={inputClassName(!!errors?.[fieldName]?.message) + ' col-start-1 row-start-1'}
        />
        <button
          type="button"
          onClick={() => {
            setShowPassword(!showPassword);
          }}
          className="cursor-pointer col-start-1 row-start-1 mt-3 mr-4 self-center justify-self-end size-5 sm:size-4"
          title={t('actions.generateUUID')}
        >
          {showPassword ? <EyeOff className="h-full" /> : <Eye className="h-full" />}
        </button>
      </div>
      <FormErrors errors={errors} fieldName={fieldName} />
    </>
  );
};

export { PasswordField };
