import { useTranslation } from 'react-i18next';
import { useFormContext } from 'react-hook-form';
import { FormLabel } from './FormLabel';
import { FormErrors } from './FormErrors';

const radioGroupClassName = (hasErrors = false) =>
  `flex flex-col gap-1 scheme-light dark:scheme-dark outline-0${hasErrors ? ' outline-2 -outline-offset-2 outline-red-600 dark:outline-red-500' : ''} focus:outline-2 focus:-outline-offset-2 ${hasErrors ? 'focus:outline-red-600 focus:dark:outline-red-500' : 'focus:outline-blue-600'} rounded-md block w-full mt-3 border-none bg-slate-200 text-slate-800 dark:bg-slate-600 dark:text-slate-200 placeholder-slate-600 dark:placeholder-slate-300 text-sm/6 py-1.5 p-2 appearance-none col-start-1 row-start-1`;

interface IRadioGroupOption {
  name: number | string | React.ReactNode;
  id: number | string;
}

interface RadioGroupProps {
  fieldName: string;
  label: string;
  loadingOptions?: boolean;
  multiple?: boolean;
  options: IRadioGroupOption[];
  validations?: {
    required?: boolean;
  };
}

const RadioGroup: React.FC<RadioGroupProps> = ({
  fieldName,
  label,
  loadingOptions,
  options,
  validations,
}) => {
  const { t } = useTranslation();
  const { required } = validations || {};
  const {
    register,
    formState: { errors },
  } = useFormContext();

  return (
    <>
      <FormLabel htmlFor={fieldName} label={label} validations={validations} />
      <div className={radioGroupClassName(!!errors?.[fieldName]?.message)}>
        {loadingOptions ? (
          <div>{t('common.select.loading')}</div>
        ) : options.length === 0 ? (
          <label className="flex gap-2 items-center">
            <input
              type="radio"
              value={undefined}
              disabled
              {...register(fieldName, {
                required: required ? 'errors.validations.required' : false,
              })}
            />
            {t('common.select.noOptions')}
          </label>
        ) : (
          <>
            {options.map((op) => (
              <label className="flex gap-2 items-center" key={op.id}>
                <input
                  type="radio"
                  value={op.id}
                  {...register(fieldName, {
                    required: required ? 'errors.validations.required' : false,
                  })}
                />
                {op.name}
              </label>
            ))}
            {!required && (
              <label className="flex gap-2 items-center">
                <input
                  value={undefined}
                  type="radio"
                  {...register(fieldName, {
                    required: required ? 'errors.validations.required' : false,
                  })}
                />
                {t('common.select.noValue')}
              </label>
            )}
          </>
        )}
      </div>
      <FormErrors errors={errors} fieldName={fieldName} />
    </>
  );
};

export { RadioGroup };
export type { IRadioGroupOption };
