import { useTranslation } from 'react-i18next';
import { RegisterOptions, FieldValues } from 'react-hook-form';
import { useFormContext, useController } from 'react-hook-form';
import { FormLabelAria as FormLabel, FormErrorsAria as FormErrors, FormFieldInfo } from './index';
import {
  RadioGroup as RadioGroupAria,
  RadioGroupProps as RadioGroupPropsAria,
  Radio,
} from 'react-aria-components';
import { Circle, CircleCheck } from 'lucide-react';

interface IRadioGroupOption {
  name: number | string | React.ReactNode;
  id: number | string;
}

interface RadioGroupProps extends Omit<RadioGroupPropsAria, 'isInvalid' | 'children'> {
  fieldName: string;
  label: string;
  loadingOptions?: boolean;
  options: IRadioGroupOption[];
  validations?: {
    required?: boolean;
  };
}

const RadioGroup: React.FC<RadioGroupProps> = ({
  fieldName,
  label,
  loadingOptions,
  options,
  validations,
  ...ariaProps
}) => {
  const { t } = useTranslation();
  const { required } = validations || {};
  const { control } = useFormContext();
  const rules: RegisterOptions<FieldValues, string> | undefined = {};
  if (required) {
    rules.required = 'errors.validations.required';
  }
  const {
    field,
    fieldState: { error },
  } = useController({
    name: fieldName,
    control,
    rules,
  });

  return (
    <RadioGroupAria
      {...field}
      isInvalid={!!error}
      isRequired={validations?.required}
      {...ariaProps}
    >
      <FormLabel validations={validations}>{label}</FormLabel>
      <div className={error ? 'form-field-error' : 'form-field'}>
        {loadingOptions ? (
          <div>{t('common.select.loading')}</div>
        ) : options.length === 0 ? (
          <div>{t('common.select.noOptions')}</div>
        ) : (
          <div className="flex flex-col gap-2">
            <Radio value={''} className="flex gap-2 items-center group">
              {'' === String(field.value) ? (
                <div className="rounded-full group-focus-within:outline-2 group-focus-within:outline-offset-2 group-focus-within:outline-blue-500 group-focus-within:dark:outline-sky-300">
                  <Circle
                    aria-hidden
                    fill="currentColor"
                    className="rounded-full outline-3 -outline-offset-6 outline-slate-600 w-6 h-6"
                  />
                </div>
              ) : (
                <div className="rounded-full group-focus-within:outline-2 group-focus-within:outline-offset-2 group-focus-within:outline-blue-500 group-focus-within:dark:outline-sky-300">
                  <Circle
                    aria-hidden
                    className="rounded-full group-data-focused:outline-2 group-data-focused:outline-offset-2 group-data-focused:outline-blue-500 group-data-focused:dark:outline-sky-300 w-6 h-6"
                  />
                </div>
              )}
              {t('common.select.noValue')}
            </Radio>
            {options.map((op) => (
              <Radio key={op.id} value={String(op.id)} className="flex gap-2 items-center group">
                {String(op.id) === String(field.value) ? (
                  <div className="rounded-full group-focus-within:outline-2 group-focus-within:outline-offset-2 group-focus-within:outline-blue-500 group-focus-within:dark:outline-sky-300">
                    <Circle
                      aria-hidden
                      fill="currentColor"
                      className="rounded-full outline-3 -outline-offset-6 outline-slate-600 w-6 h-6"
                    />
                  </div>
                ) : (
                  <div className="rounded-full group-focus-within:outline-2 group-focus-within:outline-offset-2 group-focus-within:outline-blue-500 group-focus-within:dark:outline-sky-300">
                    <Circle
                      aria-hidden
                      className="rounded-full group-data-focused:outline-2 group-data-focused:outline-offset-2 group-data-focused:outline-blue-500 group-data-focused:dark:outline-sky-300 w-6 h-6"
                    />
                  </div>
                )}
                {op.name}
              </Radio>
            ))}
          </div>
        )}
      </div>
      <FormFieldInfo validations={validations || {}} />
      <FormErrors error={error} />
    </RadioGroupAria>
  );
};

export { RadioGroup };
export type { IRadioGroupOption };
