import { useTranslation } from 'react-i18next';
import { RegisterOptions, FieldValues } from 'react-hook-form';
import { useFormContext, useController } from 'react-hook-form';
import { FormLabel, FormErrors, FormFieldInfo } from './index';
import {
  RadioGroup as RadioGroupAria,
  RadioGroupProps as RadioGroupPropsAria,
  Radio,
} from 'react-aria-components';
import { Icon } from '../Icon';

interface IRadioGroupOption {
  name: number | string | React.ReactNode;
  id: number | string;
}

interface RadioGroupProps
  extends Omit<RadioGroupPropsAria, 'isInvalid' | 'isRequired' | 'children'> {
  fieldName: string;
  label: string;
  loadingOptions?: boolean;
  options: IRadioGroupOption[];
  validations?: {
    required?: boolean;
  };
}

const RadioGroup: React.FC<RadioGroupProps> = ({
  fieldName,
  label,
  loadingOptions,
  options,
  validations,
  ...props
}) => {
  const { t } = useTranslation();
  const { required } = validations || {};
  const { control } = useFormContext();
  const rules: RegisterOptions<FieldValues, string> | undefined = {};
  if (required) {
    rules.required = 'errors.validations.required';
  }
  const {
    field,
    fieldState: { error },
  } = useController({
    name: fieldName,
    control,
    rules,
    defaultValue: '',
  });

  return (
    <RadioGroupAria {...props} {...field} isInvalid={!!error} isRequired={validations?.required}>
      <FormLabel validations={validations}>{label}</FormLabel>
      <div className={error ? 'form-field-error' : 'form-field'}>
        {loadingOptions ? (
          <div>{t('common.select.loading')}</div>
        ) : options.length === 0 ? (
          <div>{t('common.select.noOptions')}</div>
        ) : (
          <div className="flex flex-col gap-2">
            <Radio value={''} className="flex gap-2 items-center group">
              {'' === String(field.value) ? (
                <div className="rounded-full group-focus-within:outline-2 group-focus-within:outline-offset-2 group-focus-within:outline-blue-500 group-focus-within:dark:outline-sky-300">
                  <Icon icon="circle_circle" fill size={8} />
                </div>
              ) : (
                <div className="rounded-full group-focus-within:outline-2 group-focus-within:outline-offset-2 group-focus-within:outline-blue-500 group-focus-within:dark:outline-sky-300">
                  <Icon icon="circle" size={8} />
                </div>
              )}
              {t('common.select.noValue')}
            </Radio>
            {options.map((op) => (
              <Radio key={op.id} value={String(op.id)} className="flex gap-2 items-center group">
                {String(op.id) === String(field.value) ? (
                  <div className="rounded-full group-focus-within:outline-2 group-focus-within:outline-offset-2 group-focus-within:outline-blue-500 group-focus-within:dark:outline-sky-300">
                    <Icon icon="circle_circle" fill size={8} />
                  </div>
                ) : (
                  <div className="rounded-full group-focus-within:outline-2 group-focus-within:outline-offset-2 group-focus-within:outline-blue-500 group-focus-within:dark:outline-sky-300">
                    <Icon icon="circle" size={8} />
                  </div>
                )}
                {op.name}
              </Radio>
            ))}
          </div>
        )}
      </div>
      {!error && <FormFieldInfo validations={validations || {}} />}
      <FormErrors error={error} />
    </RadioGroupAria>
  );
};

export { RadioGroup };
export type { IRadioGroupOption };
