import { useState, useRef, useEffect } from 'react';
import { useFormContext, RegisterOptions, FieldValues } from 'react-hook-form';
import { FormLabel } from './FormLabel';
import { FormErrors } from './FormErrors';
import { Search, X } from 'lucide-react';

const inputClassName = (hasErrors = false) =>
  `scheme-light dark:scheme-dark outline-0${hasErrors ? ' outline-2 -outline-offset-2 outline-red-500' : ''} focus:outline-2 focus:-outline-offset-2 ${hasErrors ? 'focus:outline-red-500' : 'focus:outline-blue-600'} rounded-md block w-full mt-3 border-none bg-slate-200 text-slate-900 dark:bg-gray-800 dark:text-gray-300 text-sm/6 py-1.5 px-3`;

interface SearchField {
  fieldName: string;
  label: string;
  placeholder?: string;
  validations?: {
    required?: boolean;
    minlength?: number;
    maxlength?: number;
    pattern?: RegExp | string;
  };
}

const SearchField: React.FC<SearchField> = ({ fieldName, label, placeholder, validations }) => {
  const { required, minlength, maxlength, pattern } = validations || {};
  const {
    register,
    formState: { errors },
    getValues,
    setValue,
  } = useFormContext();
  const inputRef = useRef<HTMLInputElement>(null);
  const opts: RegisterOptions<FieldValues, string> | undefined = {};
  const [term, setTerm] = useState(getValues(fieldName) || '');

  if (required) {
    opts.required = 'errors.validations.required';
  }
  if (minlength) {
    opts.minLength = {
      value: minlength,
      message: `errors.validations.minlength:${minlength}`,
    };
  }
  if (maxlength) {
    opts.maxLength = {
      value: maxlength,
      message: `errors.validations.maxlength:${maxlength}`,
    };
  }
  if (pattern) {
    opts.pattern = {
      value: typeof pattern === 'string' ? new RegExp(pattern) : pattern,
      message: 'errors.validations.pattern',
    };
  }

  useEffect(() => {
    if (getValues(fieldName) !== term) {
      setTerm(getValues(fieldName));
    }
  }, [fieldName, getValues, setValue, term]);

  return (
    <>
      <FormLabel htmlFor={fieldName} label={label} validations={validations} />
      <div className="grid grid-cols-1">
        <input
          type="text"
          {...(placeholder ? { placeholder } : {})}
          id={fieldName}
          {...register(fieldName, opts)}
          className={inputClassName(!!errors?.[fieldName]?.message) + ' col-start-1 row-start-1'}
          onChange={(e) => {
            setValue(fieldName, e.target.value);
            setTerm(e.target.value);
          }}
          value={term}
          ref={inputRef}
        />
        <button
          type="button"
          onClick={() => {
            if (term) {
              setValue(fieldName, '');
              setTerm('');
            }
            inputRef.current?.focus();
          }}
          className="cursor-pointer col-start-1 row-start-1 mt-3 mr-4 self-center justify-self-end size-5 sm:size-4"
        >
          {!term && <Search className="h-full" />}
          {term && <X className="h-full" />}
        </button>
      </div>
      <FormErrors errors={errors} fieldName={fieldName} />
    </>
  );
};

export { SearchField };
