import { useTranslation } from 'react-i18next';
import { v4 as uuidv4 } from 'uuid';
import { RefreshCw } from 'lucide-react';
import { RegisterOptions, FieldValues } from 'react-hook-form';
import { useFormContext, useController } from 'react-hook-form';
import { FormLabelAria as FormLabel, FormErrorsAria as FormErrors, FormFieldInfo } from './index';
import {
  Button,
  TextField as TextFieldAria,
  Input,
  TextFieldProps as TextFieldPropsAria,
} from 'react-aria-components';

interface UuidFieldProps extends Omit<TextFieldPropsAria, 'isInvalid' | 'children'> {
  autoGenerate?: boolean;
  fieldName: string;
  label: string;
  placeholder?: string;
  validations?: {
    required?: boolean;
  };
}

const UuidField: React.FC<UuidFieldProps> = ({
  autoGenerate = true,
  fieldName,
  label,
  validations,
  ...ariaProps
}) => {
  const { t } = useTranslation();
  const { required } = validations || {};
  const { control, setValue, getValues } = useFormContext();
  const rules: RegisterOptions<FieldValues, string> | undefined = {};

  if (required) {
    rules.required = 'errors.validations.required';
  }
  rules.pattern = {
    value: /^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$/i,
    message: 'errors.validations.pattern',
  };

  const {
    field,
    fieldState: { error },
  } = useController({
    name: fieldName,
    control,
    rules,
    defaultValue: getValues(fieldName) || (autoGenerate ? uuidv4() : ''),
  });

  return (
    <TextFieldAria
      isInvalid={!!error}
      isRequired={validations?.required}
      {...ariaProps}
      className="group"
    >
      <FormLabel validations={validations}>{label}</FormLabel>
      <div
        className={`flex items-center gap-1
    focus-within:outline-3
    focus-within:outline-offset-3 focus-within:outline-blue-600 focus-within:dark:outline-sky-300 rounded-md block w-full mt-3 border-none bg-slate-200 text-slate-800 dark:bg-slate-600 dark:text-slate-200 placeholder-slate-600 dark:placeholder-slate-300 text-sm/6 py-1.5 px-3
    group-data-invalid:focus-within:inset-ring-0 group-data-invalid:focus-within:outline-3 group-data-invalid:focus-within:outline-offset-3 group-data-invalid:focus-within:outline-red-600 group-data-invalid:dark:focus-within:outline-red-500
    group-data-invalid:inset-ring-2 group-data-invalid:inset-ring-red-600 group-data-invalid:dark:inset-ring-red-500
          `}
      >
        <Input
          {...field}
          value={field.value || ''}
          className="outline-0 flex-1 border-none placeholder-slate-600 dark:placeholder-slate-300 font-[inherit]"
        />
        <Button
          onClick={() => {
            setValue(fieldName, uuidv4(), { shouldValidate: true, shouldDirty: true });
          }}
          className="text-sm text-center transition rounded-full border-0 p-1 flex items-center justify-center text-slate-600 dark:text-slate-300 bg-transparent hover:bg-black/[15%] pressed:bg-black/10 w-6 group-empty:invisible"
        >
          <span className="sr-only">{t('actions.generateUUID')}</span>
          <RefreshCw className="h-full" aria-hidden="true" />
        </Button>
      </div>
      <FormFieldInfo validations={validations || {}} />
      <FormErrors error={error} />
    </TextFieldAria>
  );
};

export { UuidField };
