import { useEffect, useRef } from 'react';
import ReactQuill from 'react-quill';
import 'react-quill/dist/quill.snow.css';
import './wysiwyg-editor.css';
import Quill, { ExpandedQuillOptions, Module } from 'quill';

interface WysiwygEditorProps {
  hasErrors?: boolean;
  onChange?(value: string): void;
  defaultValue?: string;
}

const modules = {
  toolbar: {
    container: [
      ['undo', 'redo'],
      [{ header: [1, 2, 3, false] }],
      ['bold', 'italic', 'underline', 'strike'],
      [{ list: 'ordered' }, { list: 'bullet' }],
      [{ color: [] }, { background: [] }],
      ['link'],
      ['image', 'video'],
      ['clean'],
    ],
    handlers: {
      undo: function () {
        (this as unknown as Module).quill.history.undo();
      },
      redo: function () {
        (this as unknown as Module).quill.history.redo();
      },
    },
  },
  history: {
    delay: 1000,
    maxStack: 500,
    userOnly: true,
  },
};

const updateButtonStates = (quill: Quill) => {
  const toolbar = quill.getModule('toolbar') as ExpandedQuillOptions;
  const undoButton = toolbar?.container.querySelector('.ql-undo');
  const redoButton = toolbar?.container.querySelector('.ql-redo');

  if (undoButton) {
    if (quill.history.stack.undo.length === 0) {
      undoButton.classList.add('ql-disabled');
    } else {
      undoButton.classList.remove('ql-disabled');
    }
  }

  if (redoButton) {
    if (quill.history.stack.redo.length === 0) {
      redoButton.classList.add('ql-disabled');
    } else {
      redoButton.classList.remove('ql-disabled');
    }
  }
};

const WysiwygEditor: React.FC<WysiwygEditorProps> = ({ hasErrors, onChange, defaultValue }) => {
  const quillRef = useRef<ReactQuill>(null);
  useEffect(() => {
    if (quillRef.current) {
      const quill = quillRef.current.getEditor();

      quill.on('text-change', () => {
        setTimeout(() => updateButtonStates(quill), 0);
      });

      setTimeout(() => updateButtonStates(quill), 0);
    }
  }, []);
  return (
    <div
      className={`
      ${hasErrors ? 'outline-2 -outline-offset-2 outline-red-500' : 'outline-0'}
      focus-within:outline-2
      focus-within:-outline-offset-2
      ${hasErrors ? 'focus-within:outline-red-500' : 'focus-within:outline-blue-600'}
      rounded-md
      block
      w-full
      mt-3
      border-none
      bg-neutral-50 text-neutral-900
      text-sm/6
      shadow-sm
      `}
    >
      <ReactQuill
        ref={quillRef}
        theme="snow"
        value={defaultValue}
        onChange={(value) => onChange && onChange(value)}
        modules={modules}
      />
    </div>
  );
};

export default WysiwygEditor;
