import { Routes, Route } from 'react-router-dom';
import './App.css';
import { useUserAutenticatedHelper } from './shared/userAutenticatedHelper';
import Menu from './components/Menu';
import Home from './pages/Home';
import Login from './pages/Login';
import Err401 from './pages/errors/Err401';
import Err403 from './pages/errors/Err403';
import Err404 from './pages/errors/Err404';
<% for (const entity of entities) {%>
import <%=entity.name%> from './pages/entities/<%=entity.name%>';
<%}%>
function App() {
  const { hasRole, isAutenticated, isInitialized, getTokenParsed } = useUserAutenticatedHelper();

  if (!isInitialized()) {
    return (
      <>
        <Menu />
        <div className="m-4">Loading...</div>
      </>
    );
  }

  return (
    <>
      <Menu />
      <Routes>
        <Route path="/" element={<Home />} />
        <Route path="/login" element={<Login />} />
        <% for (const entity of entities) {%><Route
          path="/entities/<%=to.slug(pluralize(entity.name))%>"
          element={isAutenticated() ? <<%=entity.name%> /> : <Login />}
        />
        <%}%><Route
          path="/admin"
          element={isAutenticated() ? hasRole('admin') ? <div className="m-4">ADMIN</div> : <Err403 /> : <Err401 />}
        />
        <Route path="*" element={<Err404 />} />
      </Routes>
      {isAutenticated() && (
        <pre className="whitespace-pre bg-slate-800 text-xs text-lime-300 p-4 rounded-md m-4">
          email = {getTokenParsed()?.email}
          {'\n'}
          login = {getTokenParsed()?.preferred_username}
          {'\n'}
          name = {getTokenParsed()?.name}
          {'\n'}
          hasRole 'admin' = {hasRole('admin') ? 'T' : 'F'}
        </pre>
      )}
    </>
  );
}

export default App;
