@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .text-link {
    @apply text-sky-600 dark:text-sky-400 hover:underline decoration-2;
  }
  .data-table {
    @apply w-full table-auto text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400;
    thead {
      @apply text-xs uppercase text-gray-700 bg-gray-200 dark:bg-gray-700 dark:text-gray-400;
      th {
        @apply px-6 py-3;
      }
    }
    tbody {
      td {
        @apply px-6 py-4;
      }
      tr {
        @apply odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700 border-gray-200;
      }
    }
  }
  .details-table {
    @apply w-full table-auto text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400;
    thead {
      @apply text-xs uppercase text-gray-700 bg-gray-200 dark:bg-gray-700 dark:text-gray-400;
      th {
        @apply px-6 py-3;
      }
    }
    tbody {
      th {
        @apply px-6 py-4 text-right text-nowrap w-0;
      }
      td {
        @apply px-6 py-4;
      }
      tr {
        @apply border-b dark:border-gray-700 border-gray-200;
      }
    }
  }
}
