@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --default-ring-width: 3px;
  --default-ring-color: var(--color-blue-500);
}
@layer base {
  * {
    @apply dark:scheme-dark;
  }
  body {
    @apply bg-white dark:bg-gray-900 text-gray-900 dark:text-white;
  }
  .text-link {
    @apply text-sky-600 dark:text-sky-400 hover:underline decoration-2 cursor-pointer;
  }
  .text-muted {
    @apply text-slate-400 dark:text-slate-500;
  }
  .nav-bar {
    @apply md:flex md:h-16 md:space-x-4 md:px-4 items-center bg-slate-200 text-slate-900 dark:bg-gray-800 dark:text-gray-300;
    .nav-bar-link {
      @apply rounded-md px-3 py-2 text-sm font-medium bg-slate-100 text-slate-900 dark:bg-gray-900 dark:text-gray-300 hover:ring-4 focus:outline-none focus-visible:ring-4 cursor-pointer;
    }
    .nav-bar-link.active {
      @apply bg-slate-300 text-slate-900 dark:bg-gray-700 dark:text-gray-300;
    }
  }
  .data-table {
    @apply w-full table-auto text-sm text-left rtl:text-right;
    thead {
      @apply text-xs uppercase text-gray-700 bg-gray-200 dark:bg-gray-700 dark:text-gray-400;
      th {
        @apply px-6 py-3;
      }
    }
    tbody {
      td {
        @apply px-6 py-4;
      }
      tr {
        @apply odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700 border-gray-200;
      }
    }
  }
  .details-table {
    @apply w-full table-auto text-sm text-left rtl:text-right;
    thead {
      @apply text-xs uppercase text-gray-700 bg-gray-200 dark:bg-gray-700 dark:text-gray-400;
      th {
        @apply px-6 py-3;
      }
    }
    tbody {
      th {
        @apply px-6 py-4 text-right text-nowrap uppercase w-0;
      }
      td {
        @apply px-6 py-4;
      }
      tr {
        @apply border-b dark:border-gray-700 border-gray-200;
      }
    }
  }
}
