import { Link } from 'react-router-dom';
import { useTranslation } from 'react-i18next';
import appLogo from './assets/logo.svg';
export default function Menu() {
  const { t } = useTranslation();
  return (
    <nav className="md:flex md:h-16 md:space-x-4 md:px-4 items-center bg-gray-800 text-gray-300">
      <Link to="/" data-discover="true">
        <img className="h-8 w-auto" src={appLogo} alt="" />
      </Link>
      <span className="text-xl">{t('appName')}</span>
      <span className="grow"></span>
      <Link
        className="block rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white hover:ring-4"
        to="/"
        data-discover="true"
      >
        Dashboard
      </Link>
      <% entities.forEach((entity, index) => {%>
      <Link
        className="block rounded-md px-3 py-2 text-sm font-medium bg-black text-white hover:ring-4"
        to="/entities/<%- to.slug(pluralize(entity.name)) %>"
        data-discover="true"
      >
        {t('entities.<%- to.capital(pluralize(entity.name))%>')}
      </Link>      
      <% }); %>
    </nav>
  );
}
