import { useUserAutenticatedHelper } from '../hooks/userAutenticatedHelper';
import { Navigate } from 'react-router-dom';

export default function Login() {
  const { isInitialized, isAutenticated, login } = useUserAutenticatedHelper();

  if (!isInitialized()) {
    return <div>Loading...</div>;
  }

  if (!isAutenticated()) {
    login();
    return <div>Redirecting to login...</div>;
  }

  return <Navigate to="/" replace />;
}
