import { useEffect } from 'react';
import { useTranslation } from 'react-i18next';
export default function Err404() {
  const { t, i18n } = useTranslation();
  useEffect(() => {
    document.title = t('errors.404.title');
  }, [t, i18n.language]);
  return (
    <div className="m-4">
      <h1 className="text-2xl mb-4">{t('errors.404.title')}</h1>
      <p>{t('errors.404.message')}</p>
    </div>
  );
}
