import { useTranslation } from 'react-i18next';
import { LoginButton } from '../../components/LoginButton.tsx';
export default function Err401() {
  const { t } = useTranslation();
  return (
    <div className="m-4">
      <h1 className="text-2xl mb-4">{t('errors.401.title')}</h1>
      <p>{t('errors.401.message')}</p>
    </div>
  );
}
